<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>agregar_estudiante</servlet-name>
        <servlet-class>agregar_estudiante</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>agregar_estudiante</servlet-name>
        <url-pattern>/agregar_estudiante</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editar_estudiante</servlet-name>
        <servlet-class>editar_estudiante</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>editar_estudiante</servlet-name>
        <url-pattern>/editar_estudiante</url-pattern>
    </servlet-mapping>



</web-app>